* {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
    border: 0;
    height: 0.1vh;
    width: 72vw;
    background-color: rgb(194, 205, 216);
}

th {
    text-align: left;
    padding-right: 16rem;
}

/*---Kotak Atas---*/
#kotakAtas {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 100vw;
    background-color: rgb(94, 199, 235);
    text-align: center;
    justify-content: center;
}

#container {
    display: flex;
}

/*---Kotak Kiri---*/
#kotakKiri {
    height: 100vh;
    width: 25vw;
    background-color: rgb(194, 205, 216);
    overflow-x: hidden;
    overflow-y: hidden;
}

#kontenKotakKiri {
    margin-left: 5%;
    margin-top: 2.5%;
}

#contKontenKiri {
    display: flex;
}

#kontenKotakKiri b {
    font-size: 1rem;
}

#kontenKotakKiri input[type="text"] {
    margin-top: 3%;
    border: 0;
    padding : 1% 0 1.5% 2%;
    width: 12.5vw;
}

#kontenKotakKiri input[type="text"]:focus {
    outline: none !important;
}

#kontenKotakKiri button[type="submit"] {
    font-size: 0.75rem;
}

::placeholder {
    color: rgb(187, 187, 187);
}

.memo {
    width: 10vw;
    height: 4vh;
    padding: 0.25%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---Kotak Kanan---*/
#kotakKanan {
    margin-left: 1%;
    margin-top: 0.5%;
}

#editTable {
    margin-top: 2%;
}

#kotakKanan button[type="submit"] {
    width: 11.1vw;
    font-size: 0.75rem;
    margin-left: 5%;
    margin-bottom: 1%;
}

#styleRadio1 {
    font-size: 0.75rem;
    margin-left: 4.5%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#styleRadio2 {
    font-size: 0.75rem;
    margin-left: -4%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#fixHeadList {
    margin-top: 1%;
}

#listPegHead {
    font-size: 0.75rem;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: -0.25%;
}

.listPegBody {
    margin-top: 0.5%;
    font-size: 0.75rem;
    margin-left: -0.25%;
    background-color: rgb(211, 223, 235);
}

.username {
    padding-left: 0.5%;
    width: 23.65vw;
}

.nama {
    width: 22vw;
}

.kelamin {
    width: 25.5vw;
}